<html>
<head>
    <title>Main page</title>
	
    <!--link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
	
</head>
<body>
<div class = "container justify-content-center">

	<br>
	<div class='input-group mb-5'>
	<form id ="sendancor" action='http://localhost:8000/sendrq/' enctype="multipart/form-data" method="post">
		<h3>Type the goods description here.</h3>
		<!--input type="file" name="file" id="file" accept=".jpg"  class="form-control" />
		<label for="email">Enter your email:</label-->
		<input type="text" id="desc" name="desc" />
		<input type="number" id="qtty" name="qtty" min='1' max='20' value='5' />
		<input type="submit" class="btn btn-primary" />
	</form>
	</div>
</div>
<div class = 'container' id ='logs'>

</div>
<div class = 'container'>
<table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Desc</th>
                <th>Prob</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Code</th>
                <th>Desc</th>
                <th>Prob</th>
            </tr>
        </tfoot>
    </table>
</div>

</body>

<script>

$(document).ready(function() {
let table = new DataTable('#example', {order: [[2, 'desc']], 'columns': [{ "width": "10%" }, null, { "width": "5%" }]});
const form1  = document.getElementById('sendancor');
const logs = document.getElementById('logs');

form1.addEventListener('submit', (event) => {
    event.preventDefault();
	var desc = document.getElementById("desc").value
	var formData1 = new FormData(form1);
	console.log(formData1);
	$.ajax({
        url: 'http://localhost:8000/sendrq/',
        type: 'POST',
        data: formData1,
        async: false,
        cache: false,
        contentType: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: function (response) {
			console.log(response);
			console.log(JSON.stringify(response));
			let data = JSON.stringify(response);
			$('#example').DataTable().clear().rows.add(response['data']).draw();
        }
    });
});

table.on('click', 'tbody tr', function () {
    let row_data = table.row(this).data();
    //alert('You clicked on ' + data[0] + "'s row");
	console.log('request of ' + row_data + ' code;');
	var code = row_data[0].toString();
	console.log(code);
	var data = {"id": code};
	$.ajax({
		url: 'http://localhost:8000/code/',
		type: 'POST',
		//'data': {id: row_data[0].toString(),},
		//data: JSON.stringify({"id": row_data[0]}),
		//dataType: "json",
		//contentType: "text/plain",
		dataType : "json",
		contentType: "application/json; charset=utf-8",
		data : JSON.stringify(data),
		success: function (response){
			console.log(response);
			alert(response['data']);
		}
	});
});


});

</script>
</html>